@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>        
        <button id="btn-calc" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-screenshot"></span></button>
    </div>
    <div class="col-md-4">
        <h2></h2>
        
    </div>
    <div class="col-md-4">
        <h2></h2>
        
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <table id="tbl-items" class="table">
            <thead>
                <tr><th>cod</th><th>data</th><th>ent</th><th>sai</th><th>int</th><th></th></tr>
            </thead>
            <tbody></tbody>
        </table>
        <button id="btn-save" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>SALVAR</button>
    </div>
</div>